<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h4 class="my-5"><%= @customer.first_name+@customer.last_name %>さんの会員情報編集</h4>
      <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>

      <div class="row">
        <div class="col-4">
        <%= f.label:"氏名", class: "mb-2" %>
        </div>
        <div class="col-4">
        <%= f.text_field :first_name, class: "form-control mb-2" %>
        </div>
        <div class="col-4">
        <%= f.text_field :last_name, class: "form-control mb-2" %>
        </div>
        </div>

        <div class="row">
        <div class="col-4">
        <%= f.label:"フリガナ", class: "mb-2" %>
        </div>
        <div class="col-4">
        <%= f.text_field :first_name_kana, class: "form-control mb-2" %>
        </div>
        <div class="col-4">
        <%= f.text_field :last_name_kana, class: "form-control mb-2" %>
        </div>
        </div>

        <div class="row">
        <div class="col-4">
        <%= f.label:"郵便番号", class: "mb-2" %>
        </div>
        <div class="col-4">
        <%= f.text_field :postal_code, class: "form-control mb-2" %>
        </div>
        <div class="col-4">
        </div>
        </div>

        <div class="row">
        <div class="col-4">
        <%= f.label:"住所", class: "mb-2" %>
        </div>
        <div class="col-7">
        <%= f.text_field :address, class: "form-control mb-2" %>
        </div>
        <div class="col-1">
        </div>
        </div>

        <div class="row">
        <div class="col-4">
        <%= f.label:"電話番号", class: "mb-2" %>
        </div>
        <div class="col-4">
        <%= f.text_field :telephone_number, class: "form-control mb-2" %>
        </div>
        <div class="col-4">
        </div>
        </div>

        <div class="row">
        <div class="col-4">
        <%= f.label:"メールアドレス", class: "mb-2" %>
        </div>
        <div class="col-4">
        <%= f.text_field :email, class: "form-control mb-2" %>
        </div>
        <div class="col-4">
        </div>
        </div>

        <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
        <%= f.submit "編集内容を保存", class:"btn btn-outline-success rounded-pill" %>
        </div>
        <div class="col-4">
          <%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-outline-danger rounded-pill" %>
        </div>
        </div>

      <% end %>

    </div>
  </div>
</div>