<div class="container p-3">
  <div class="row">

  <div class="col-md-12">

    <h3>注文情報入力</h3>
    <%= form_with model: Order.new, url: orders_path, method: :get do |f|  %>

    <h4>支払い方法</h4>
     <%= f.radio_button :payment_method, "credit_card" %><%= f.label :payment_method_credit_card, "クレジットカード" %>

    <br>
    <%= f.radio_button :payment_method, "transfer" %><%= f.label :payment_method_transfer, "銀行振込" %>


    <div>
    <h4>お届け先</h4>
    <%= f.radio_button :address_type, "member_address", checked: true %>
    <%= f.label :address_type, "ご自身の住所" %>

    </div>

    <br>
    <%= f.radio_button :address_type, [:registered_address] %>
    <%= f.label :address_type, "登録済住所から選択" %>



    <br>
    <%= f.radio_button :address_type, "new_address" %>
    <%= f.label :address_type, "新しいお届け先" %>
    <table>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field :name %></td>
      </tr>
    </table>

    <br>
    <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
    <% end %>

  </div>


  </div>
</div>