<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h1>About</h1>
        <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。</p>
        <div class="row">
        <div class="mx-auto">
         <div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag '1.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag '230914chateraise1.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'toushin1_29408_0.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'DSC_0061-1024x768.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'int_img03.jpg' %>
    </div>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>

</div>
         </div>
        </div>
    </div>
  </div>
</div>



