 <div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <%= render 'layouts/error', model: @address %>
      <div>配送先登録/一覧</div>
 <%= form_with model: @address, url: addresses_path, method: :post do |f| %>
　　　<table>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, class:"form-control"  %></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :adress, class:"form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, class:"form-control"  %></td>
          <td><%= f.submit "新規登録", class:"btn btn-success" %></td>
        </tr>
        </table>
        <% end %>


       <div class="table-responsive">
　　　　　<table class="table table-bordered">
          <thead>
           <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
           </tr>
          </thead>

          <% @addresses.each do |address| %>
         <tbody>
           <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.adress %></td>
            <td><%= address.name %></td>
            <td>
                <%= link_to "編集する", edit_address_path(address),method: :get , class: "btn btn-primary" %>　　<%= link_to "削除する", address_path(address), method: :delete , class: "btn btn-danger" %>
            </td>
          </tr>
        </tbody>
        <% end %>
       </table>
　　　　</div>

        </div>
        </div>
        </div>