 <div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div>配送先登録/一覧</div>
 <%= form_with model: @addresse, url: addresses_path, method: :post do |f| %>
　　　<table>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :postal_code, class:"form-control"  %></td>
          <td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :adress, class:"form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, class:"form-control"  %></td>
          <td><%= f.submit "新規登録", class:"btn btn-success" %></td>
        </tr>
        </table>
        <% end %>

        
        <table>
          <thead>
           <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
           </tr>
          </thead>

        </table>
      

        </div>
        </div>
        </div>