<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'genres_sidebar', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h2 class="text-center">Item List</h2><p class="text-center">(全<%= @items.count %>件)</p>
      <div class="card-deck">
        <%  @items.each do |item| %>
          <%= link_to item_path(item.id), class: "card-hover" do %>
          <div class="card shadow-sm cake-box text-center" style="min-width: 230px; max-width: 250px;">
            <div class="card-img-top" >
              <% if item.image.attached? %>
                <%= image_tag item.image, style: 'width: 100%; height: 180px' %>
              <% else %>
                <%= image_tag 'no_cake', style: 'width: 100%; height: 180px' %>
              <% end %><br>
              </div>
              <h5 class="card-title pt-2">
                <%= item.name %>
              </h5>
            <div class="card-text card-color">
              <% if item.is_active == true %>
                <p>￥<%= item.with_tax_price.to_i %></p>
              <% else %>
                <p class="text-danger">販売停止中</p>
              <% end %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @items, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
  
</div>
