<div class="container">
  <div class="row">  
    <div class="col-md-4">
      <div class="genre-box bg-body-decondary"></div>
    </div>
    <div class="col-md-5">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, style: 'width: 80%;' %>
        <% else %>
          <%= image_tag 'no_cake', style: 'width: 80%;' %>
        <% end %>
    </div>
    <div class="col-md-3">
      <p class="my-4"><h3 class="text-center"><%= @item.name %></h3></p>
      <p class="my-4 text-center"><%= @item.introduction %></p>
      <p class="my-4 text-center">￥<%= @item.with_tax_price.to_i %>(税込)</p>
          <% if customer_signed_in? %>
            <% if @item.is_active == true %>
              <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
                <%= f.label :amount, "個数選択" %>
                <%= f.select :amount, (1..10) %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= f.submit "カートに入れる" %>
              <% end %>
            <% end %>
          <% end %>
    </div>
  </div>
</div>

