<div class="container">
  <div class="row">
    <div class="mx-auto">
          <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "100x100" %>
          <% else %>
          <%= image_tag 'no_cake', size: "100x100" %>
          <% end %>

          <%= @item.name %>
          <%= @item.introduction %>
          <p>￥<%= @item.with_tax_price.to_i %>(税込)</p>
          <% if @item.is_active == true %>
            <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
              <%= f.label :amount, "個数選択" %>
              <%= f.select :amount, (1..10) %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.submit "カートに入れる" %>
            <% end %>
          <% end %>
    </div>
  </div>
</div>

