<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= link_to root_path do %>
      <div class="navbar-brand"><img src="../../assets/naganocake.jpg" ></div>
      <% end %>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if customer_signed_in? %>
         <div class="row mx-auto text-light my-2">ようこそ、<%= current_customer.last_name %>さん！</div>
          <li>
            <%= link_to customers_my_page_path, class: 'btn btn-outline-light nav-link rounded-pill' do %>
            <i class="fa-solid fa-user text-light"></i> My page
            <% end %>
          </li>
          <li>
            <%= link_to items_path, class: 'btn btn-outline-light nav-link rounded-pill' do %>
            <i class="fa-solid fa-cheese text-light"></i> Items
            <% end %>
          </li>
          <li>
            <%=  link_to cart_items_path, class: 'btn btn-outline-light nav-link rounded-pill' do %>
            <i class="fa-solid fa-cart-shopping text-light"></i> Cart
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-outline-light rounded-pill' do %>
            <i class="fa-solid fa-right-from-bracket text-light"></i> Log out
            <% end %>
          </li>

          <li class="nav-item">
            <div class="search-form">
              <%= form_with url: search_path, local: true, method: :get, class: "d-flex" do |f| %>
                <%= f.text_field :word, placeholder:"商品名", class: "form-control" %>
                <%= f.hidden_field :range, value: "商品"%>
                <%= f.hidden_field :search, value: "partial"%>
                <%= button_tag type: "submit", class: "btn btn-default" do %>
                  <i class="fas fa-search text-light"></i>
                <% end %>
              <% end %>
            </div>
          </li>
        <% elsif admin_signed_in? %>
          <div class="row mx-auto text-light">ようこそ、管理者さん！</div>
          <li>
            <%= link_to "商品一覧", admin_items_path, class: 'btn btn-outline-light nav-link rounded-pill' %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-outline-light nav-link rounded-pill' %>
          </li>
          <li>
            <%=  link_to "注文履歴一覧", admin_root_path, class: 'btn btn-outline-light nav-link rounded-pill' %>
          </li>
          <li>
            <%=  link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-outline-light nav-link rounded-pill' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-outline-light rounded-pill' %>
          </li>

          <li class="nav-item">
            <div class="search_form">
              <%= form_with url: admin_search_path, local: true, method: :get, class: "d-flex" do |f| %>
                <%= f.text_field :word, class: "form-control" %>
                <%= f.select :range, options_for_select([['Item'], ['Customer']]) %>
                <%= f.hidden_field :search, value: "partial"%>
                <%= f.submit "Search" %>
              <% end %>
            </div>
          </li>

        <% else %>
          <li>
            <%= link_to about_path, class: 'btn btn-outline-light nav-link rounded-pill' do %>
              <i class="fa-solid fa-store text-light"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to  items_path, class: 'btn btn-outline-light nav-link rounded-pill' do %>
              <i class="fa-solid fa-cheese text-light"></i> Items
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path, class: 'btn btn-outline-light nav-link rounded-pill' do %>
              <i class="fa-solid fa-user-plus text-light"></i> Sign up
            <% end %>
          </li>
          <li>
            <%= link_to  new_customer_session_path, class: 'btn btn-outline-light nav-link rounded-pill' do %>
            <i class="fa-solid fa-right-to-bracket text-light"></i> Log in
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>