<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand"><img src="/assets/naganocake.jpg" ></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <div class="row mx-auto">ようこそ、名前さん！</div>
        <% end %>
        <% if customer_signed_in? %>
          <li>
            <!--名前のところは後で-->
            <%= link_to "マイページ", customers_my_page_path, class: 'btn btn-light nav-link' %>
          </li>
          <li>
            <%= link_to "商品一覧", items_path, class: 'btn btn-light nav-link' %>
          </li>
          <li>
            <%=  link_to "カート", cart_items_path, class: 'btn btn-light nav-link' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-light' %>
          </li>
        <% else %>
          <li>
            <%= link_to "About", about_path, class: 'btn btn-light nav-link' %>
          </li>
          <li>
            <%= link_to "商品一覧", items_path, class: 'btn btn-light nav-link' %>
          </li>
          <li>
            <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-light nav-link' %>
          </li>
          <li>
            <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-light nav-link' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>