<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.2/css/bootstrap.min.css">-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>-->
  </head>

  <body>
    <div class="top-image">
      <img src="assets/top-cake1.png">
    </div>
    <header>
    <%= render 'layouts/header' %>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <p class="text-center">team-b, cafe au lait</p>
    </footer>
  </body>
</html>
